@vertical-indent-header: 12px;

.app {
  display: grid;
  grid-template-areas:
          "header header"
          "aside content";
  grid-template-rows: auto 1fr;
  grid-template-columns: 256px 1fr;
  height: 100vh;
  color: @color-main-font-invert;
  background-color: @color-panel;
}

.app__header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: @vertical-indent-header 0;
}

.app__aside {
  grid-area: aside;
  padding-right: 32px;
  overflow-y: auto;
}

.app__content {
  grid-area: content;
  //display: flex;
  margin-right: 4px;
  padding: 48px;
  padding-bottom: 32px;
  border-radius: 2px;
  color: @color-main-font;
  background-color: @white;
  overflow: auto;
}